@model IEnumerable<VigneshProject.Models.Property>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PropName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PropOwnerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PropDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PropType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PropImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PropName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PropOwnerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PropDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PropType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PropImage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PropID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PropID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PropID })
        </td>
    </tr>
}

</table>
